{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block content %}

    {% if request.user.is_authenticated %}
        <script>
            window.location.replace("http://127.0.0.1:8000");
        </script>
    {% else %}
        <div class='row login'>
            <div class='col-sm-4 col-sm-offset-4'>
                <h1>Login</h1>
                </br>
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control"/>
                    </div>

                    </br>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>

                    </br>

                    <button type="submit" style="background-color: dodgerblue"
                            class="btn btn-block btn-primary">Sign in
                    </button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    </br>
                    <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
                </form>
            </div>
        </div>
        <hr/>
    {% endif %}
{% endblock %}